<div class="container my-5 py-5">
    <h1 class="text-center fw-bold">Orari di apertura</h1>
    <div class="text-center mb-5">
        <span class="badge" [class]="openNow() ? 'bg-success' : 'bg-danger'">
            {{ openNow() ? 'aperto' : 'chiuso' }}
        </span>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-10 col-md-8">

            <div class="table-responsive">
                <table class="table text-center">
                    <tbody>
                        <tr>
                            <th class="text-start px-5 py-2 bg-transparent" scope="row">Lunedì</th>
                            <td class="text-end px-5 py-2 bg-transparent">Chiuso</td>
                        </tr>
                        <tr>
                            <th class="text-start px-5 py-2 bg-transparent" scope="row">Martedì</th>
                            <td class="text-end px-5 py-2 bg-transparent">
                                06:30 - 14:30<br>
                                17:00 - 22:30
                            </td>
                        </tr>
                        <tr>
                            <th class="text-start px-5 py-2 bg-transparent" scope="row">Mercoledì</th>
                            <td class="text-end px-5 py-2 bg-transparent">
                                06:30 - 14:30<br>
                                17:00 - 22:30
                            </td>
                        </tr>
                        <tr>
                            <th class="text-start px-5 py-2 bg-transparent" scope="row">Giovedì</th>
                            <td class="text-end px-5 py-2 bg-transparent">
                                06:30 - 14:30<br>
                                17:00 - 22:30
                            </td>
                        </tr>
                        <tr>
                            <th class="text-start px-5 py-2 bg-transparent" scope="row">Venerdì</th>
                            <td class="text-end px-5 py-2 bg-transparent">
                                06:30 - 14:30<br>
                                17:00 - 22:30
                            </td>
                        </tr>
                        <tr>
                            <th class="text-start px-5 py-2 bg-transparent" scope="row">Sabato</th>
                            <td class="text-end px-5 py-2 bg-transparent">
                                06:30 - 14:30<br>
                                17:00 - 22:30
                            </td>
                        </tr>
                        <tr>
                            <th class="text-start px-5 py-2 bg-transparent" scope="row">Domenica</th>
                            <td class="text-end px-5 py-2 bg-transparent">
                                07:00 - 14:30<br>
                                17:00 - 22:30
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>